services:
  minetest-server:
    #image: ghcr.io/linuxserver/minetest:latest
    build: ./
    container_name: minetest-server
    deploy:
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
        window: 120s
      update_config:
        parallelism: 2
    environment:
      PUID: '1000'
      TZ: Europe/Moscow
      PGID: '1000'
      CLI_ARGS: '--gameid minetest_game --port 30000'
    ports:
      - 29999:29999
      - 30000:30000/udp
    volumes:
      - ${DATA}:/config/.minetest/
